<div class="blog-post">
    <div class="blog-post_img">
        <img src="/assets/img/sharksvideo-2010728-640x360.jpg" alt="">
    </div>
    <div class="blog-post_info">
        <div class="blog-post_date">
            <span>Sunday</span>
            <span>Oct 27 2020</span>
        </div>
        <h1 class="blog-post_title">Shark Sighting</h1>
        <p class="blog-post_text">Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head</p>
        <a href="http://" class="blog-post_cta">Read More</a>
    </div>

</div>


<div class="blog-post">
    <div class="blog-post_img">
        <img src="/assets/img/sharksvideo-2010728-640x360.jpg" alt="">
    </div>
    <div class="blog-post_info">
        <div class="blog-post_date">
            <span>Sunday</span>
            <span>Oct 27 2020</span>
        </div>
        <h1 class="blog-post_title">Shark Sighting</h1>
        <p class="blog-post_text">Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head</p>
        <a href="http://" class="blog-post_cta">Read More</a>
    </div>

</div>

<div class="blog-post">
    <div class="blog-post_img">
        <img src="/assets/img/sharksvideo-2010728-640x360.jpg" alt="">
    </div>
    <div class="blog-post_info">
        <div class="blog-post_date">
            <span>Sunday</span>
            <span>Oct 27 2020</span>
        </div>
        <h1 class="blog-post_title">Shark Sighting</h1>
        <p class="blog-post_text">Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head</p>
        <a href="http://" class="blog-post_cta">Read More</a>
    </div>

</div>
