<div class="container">
    <div class="box">
        <div class="imgBx">
            <img src="/assets/call.svg" width="100" height="100">
        </div>
        <div class="content">
            <div class="icon">
                <img src="/assets/call.svg" width="100" height="100">
            </div>
            <h3>Phone No.</h3>
            <h4>+91 9677563415</h4>
            <h4>+91 6381711614</h4>
        </div>
    </div>

    <div class="box">
        <div class="imgBx">
            <img src="/assets/email.svg" width="100" height="100">
        </div>
        <div class="content">
            <div class="icon">
                <img src="/assets/email.svg" width="100" height="100">
            </div>
            <h3>Email Address.</h3>
            <h4>support@email.com</h4>
            <h4>care@email.com</h4>
        </div>
    </div>

    <div class="box">
        <div class="imgBx">
            <img src="/assets/map.svg" width="100" height="100">
        </div>
        <div class="content">
            <div class="icon">
                <img src="/assets/map.svg" width="100" height="100">
            </div>
            <h3>Map Location.</h3>
            <h4>Address</h4>
            <h4>Renaissance Avenue, Plot 6, Door No 5, North Homeline, 1st Main Rd, Vijaya Nagar, Velachery, Chennai, Tamil Nadu 600041</h4>
        </div>
    </div>
</div>
