.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    -webkit-transition: .6s;
    transition: .6s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: .6s;
    transition: .6s
}

input:checked+.slider {
    background-color: #f7a9a9
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

thead {
    background-color: #f7a9a9;
    text-align: center;
    border: 2px solid #d6d3d6;
}

.PageWidth {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 3px;
    border-radius: 25px;
}

ul li {
    list-style: none;
}

ul li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #262626;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
}

ul li:first-child a {
    border-radius: 20px 0 0 20px;
}

ul li:last-child a {
    border-radius: 0 20px 20px 0;
}

.active {
    border-radius: 4px;
    font-weight: 700;
    background: #f7a9a9;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
}
