* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ebf5fc7a;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px #d1cacae1;
    margin: 30px;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #f8dfdfd5;
    border: 2px solid #f8b2b2;
    box-shadow: 0 10px 20px rgba(235, 226, 226, 0.993);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container .card:hover .box {
    transform: translateY(-50px);
    border: 3px solid #f5c6c6;
    box-shadow: 0 10px 40px #e2dede25;
    background: linear-gradient(45deg, #cc84ee, #815ff0);
}

.container .card .box .content {
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2 {
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
}

.container .card:hover .box .content h2 {
    color: rgba(0, 0, 0, 0);
}

.container .card:hover .box .content h3 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p {
    color: #fff;
}

.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card:hover .box .content a {
    background: #f8b2b2;
}
